.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px 6%;
  position: fixed;
  font-size: 14px;
  color: #e5e5e5;
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.7) 10%,
    transparent
  );
  z-index: 1;
}
.navbar-left {
  display: flex;
  gap: 50px;
  align-items: center;
}
.navbar-left img {
  width: 15%;
}
.navbar-left ul {
  display: flex;
  list-style: none;
  gap: 1.2rem;
}
.navbar-left ul li {
  cursor: pointer;
}

.navbar-right {
  display: flex;
  gap: 20px;
  align-items: center;
}
.navbar-right .icons {
  width: 20px;
  cursor: pointer;
}
.navbar-right .profile {
  border-radius: 4px;
  width: 35px;
}
.navbar-profile {
  display: flex;
  gap: 20px;
  align-items: center;
}
